body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

form {
    flex: 1;
    padding: 40px;
    background-color: #fff;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 490px;
    width: 100%;
    max-width: 550px;
}

input {
    max-width: 95%;
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button.blue {
    margin-top: 30px;
    background-color: #0074D9;
    color: white;
}

button.blue:hover {
    transition: 0.3s;
    background-color: #025dad;
}

form h1 {
    font-size: 28px;
    text-align: center;
}

.h1-text {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
}
